*,
*::after,
*::before{
    box-sizing: border-box;
}
@font-face {
    font-family: 'SF-pro-display';
    src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF-pro-display';
    src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'spaceagecyrillic';
    src: url('../fonts/spaceagecyrillic-regular.woff2') format('woff2'),
         url('../fonts/spaceagecyrillic-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

a{
    color: inherit;
    text-decoration: none;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

body{
    font-family: 'SF-pro-display', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #fff;
}
.btn{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    border: 1px solid #fff;
    padding: 20px 45px;
    cursor: pointer;
    text-align: center;
}
.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.section__title{
    font-family: 'spaceagecyrillic', sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
}


.header{
    background-image: url(../images/header-bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 75px 0 30px;
}

.menu__list{
    display: flex;
}

.menu__list-item{
    margin-right: 30px;
}

.menu__list-link{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    transition: color .5s;
    
}
.menu__list-link:hover{
    color: #CB0E0E;
}
.phone{
    margin-left: auto;
    margin-right: 22px;
    font-size: 24px;
    line-height: 29px;
}
.header__content{
    max-width: 600px;
}
.header__title{
    font-family: 'spaceagecyrillic', sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}
.header__title span{
    font-size: 110px;
    
}

.header__text{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 50px;
}
.login{
    margin-right: 134px;
}

.header__btn{
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    border: 1px solid #FFFFFF;
    outline: none;
    padding: 15px 10px 16px;
    
}

.header__description{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5%;
    margin-top: 40px;
}
.header__description-text{
    max-width: 165px;
    font-size: 14px;
    line-height: 17px;
}

.header__description-text +.header__description-text{
    margin-left: 52px;
}


.about{
    background-image: url(../images/about-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 100px;
}

.about__title{
    
    margin-bottom: 100px;
}

.about__item{
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
    flex-wrap: wrap;
    
}

.about__item:nth-child(even){
   
    flex-direction: row-reverse;
}

.about__img{
    max-width: 100%;
}
.about__content{
    width: 600px;
}

.about__content-title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.about__content-subtitle{
    color: #036CCA;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about__content-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}
.about__content-text p{
    max-width: 165px;
   
    
}

.about__table{
    margin-bottom: 50px;
}

.about__table-tr{
    border: 1px solid #fff;
    border-right: none;
    border-left: none;
}
.about__table-tr+.about__table-tr{
    font-size: 36px;
    line-height: 43px;
    font-weight: 700;
    text-align: center;
}

.about__table-td{
    padding: 10px 30px 10px 0;
}
.about__table-td span{
    font-size: 14px;
    line-height: 17px;
    display: block;
}



.about__table-caption{
    caption-side: bottom;
    text-align: left;
    margin-top: 20px;
    font-size: 12px;
    line-height: 14px;
}

.how-to{
    background-image: url(../images/how-to__bg.jpg);
    background-position: top center; 
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}
.how-to__title{
    margin-bottom: 100px;
}
.how-to__box{
    text-align: center;

}

.how-to__box circle,
.how-to__box text,
.how-to__box foreignObject{
    transition: all .5s;
    cursor: pointer;
    font-size: 18px;
}

.how-to__box g:hover circle{
    r: 20px;
    fill: #036CCA;
}
.how-to__box g:hover text{
    font-size: 36px;
    fill: #036CCA;
}
.how-to__box g:hover foreignObject{
    font-size: 22px;
    color: #036CCA;
    line-height: 28px;
}
.how-to__list{
    display: none;
}
foreignObject{
    max-width: 273px;
    text-align: left;
    line-height: 21px;
}

.order{
    padding-top: 100px;
    background-image: url(../images/order-bg.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.order__inner{
    display: flex;
    justify-content: space-between;
}

.order__text{
    display: flex;
}
.order__text p{ 
    max-width: 165px;
    font-size: 14px;
    line-height: 17px;
}

.order__text p:first-child{
    margin-right: 53px;
}

.special__offer{
    background-image: url(../images/info-bg.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 100px;
}
.offer{
    padding-bottom: 142px;
}
.offer__title{
    margin-bottom: 100px;
}

.offer__inner{
    display: flex;
    justify-content: space-between;
}
.offer__btn{
    max-width: 500px;
}
.offer__item-box{
    border: 1px solid #fff;
    margin-bottom: 25px;
    padding: 40px 75px;
    width: 500px;
    /* min-height: 400px; */
    text-align: center;
}
.offer__item-text{
    font-size: 24px;
    line-height: 29px;
    max-width: 236px;
    margin: 0 auto;
    margin-bottom: 111px;
}
.offer__item-text span{
    color: #CB0E0E;
}

.offer__item-oldprice{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
    text-align: right;
    position: relative;
    max-width: 70px;
    margin-left: auto;
}

.offer__item-oldprice::after{
    content:'';
    display: block;
    height: 1px;
    width: 68px;
    background-color: #CB0E0E;
    position: absolute;
    top: 7px;
    left: 0;
    transform: rotate(10deg)
}
.offer__item-newprice{
    font-size: 48px;
    line-height: 57px;
}

.services{
    padding-bottom: 200px;
}

.services__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.services-box__list{
    width: 620px;
    margin-right: 80px;
    font-size: 24px;
    line-height: 29px;
}

.services__list-title{
    
    margin-bottom: 25px;
}

.services__list{
    list-style: none;
    margin-bottom: 25px;
    

}
.services__list-item{
    padding-left: 36px;
    position: relative;
}
.services__list-item::before{
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.services__list-description{
    font-size: 12px;
    line-height: 14px;
    color: #E5E5E5;
}

.services-box__buttons{
    width: 500px;
}

.services__btn{
    width: 100%;
}
.services__btn--first{
    margin-bottom: 50px;
    position: relative;
}
.services__btn--first::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 40px;
    background-image: url(../images/spaceguy.png);
    width: 192px;
    height: 150px;

}

.slider{
    text-align: center;
}

.slider__description{
    font-family: 'spaceagecyrillic';
    font-size: 24px;
    line-height: 30px;
}

.slider__inner{
    margin-bottom: 50px;
    border: 1px solid #fff;
    padding: 100px 0;
    position: relative;

}

.slider__box-img{
    margin: 0 auto;
   
}

.slider__arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 5;
}

.slider__arrow-left{
    left: 75px;
}

.slider__arrow-right{
    right: 75px;
}

.contacts{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #010203;
}

.contacts__inner{
    display: flex;
    justify-content: space-between;
}

.contacts__box{
    width: 500px;
}

.contacts__form{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.contacts__form-input{
    outline: none;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
}

.contacts__form-btn{
    color: #fff;
    background-color: inherit;
}

.contacts__guarantees{
    width: 600px;
}

.contacts__title{
    margin-bottom: 46px;
}
.contacts__description{
   
    font-size: 24px;
    line-height: 29px;
}
.contacts__guarantees-img{
    display: block;
    margin-left: auto;
}

.footer{
    background-image: url(../images/footer-bg.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 150px;
}

.footer__inner{
    display: flex;
    justify-content: flex-end;
}

.footer__text{
    width: 165px;
    margin-right: 52px;
}
.footer__text p + p{
    margin-top: 48px;
}

.footer__menu{
    width: 115px;
    margin-right: 100px;
}
.footer__links{
    width: 165px;
}

.footer__menu,
.footer__links{
    list-style: none;
    
}

.footer__menu-item,
.footer__links-item{
    text-transform: uppercase;
    margin-bottom: 20px;
    transition: all .5s;
}

.footer__menu-item:hover,
.footer__links-item:hover{
    color:#CB0E0E;
}

.menu-btn{
    display: none;
    width: 40px;
    cursor: pointer;
    z-index: 20;
    position: relative;
    height: 30px;

}
.menu-btn span{
    display: block;
    height: 2px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

.menu-btn span:after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: -10px;
    left: 0;
}
.menu-btn span:before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 0;
    
    
}



/* Адаптив сайта */




@media (max-width: 1160px){
    .about__title{
        text-align: center;
    }
    .about__item{
        display: block;
        text-align: center;
        padding-bottom: 100px;
    }
    .about__item-img{
        margin-bottom: 50px;
    }
    .about__content{
        width: 100%;
    }
    .about__content-text{
        display: block;
    }
    .about__content-text p{
        max-width: 100%;
        margin-bottom: 20px;
    }
    .about__table{
        margin: 20px auto;
    }
    

    .how-to__title{
        text-align: center;
        margin-bottom: 50px;
    }

    .services-box__list{
        font-size: 20px;
    }
    .special__offer{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .contacts{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .contacts__guarantees{
        margin-bottom: 50px;
    }
    .contacts__box{
        width: 600px;
    }

    .contacts__inner{
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer__inner{
        justify-content: center;
    }

}

@media (max-width: 1060px){
    .offer{
        padding-bottom: 50px;
    }
    .offer__inner{
        display: block;
    }
    .offer__item-box{
        width: 100%;
    }
    .offer__btn{
        margin-bottom: 50px;
        max-width: 100%;
    }
    

    
}

@media (max-width: 1024px){
    .login{
        margin-right: 0;
    }
    .order__inner{
        flex-direction: column;
    }
    .how-to{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .order{
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
    .order__title{
        margin-bottom: 50px;
    }
    .order__text{
        display: block;
    }
    .order__text p{
        max-width: 100%;
       
        margin-bottom: 20px;
    }
    .order__text p:first-child{
        margin-right: 0;
    }

    .offer__title{
        text-align: center;
    }

    .services__title{
        text-align: center;
    }

    .services-box__list{
        font-size: 18px;
    }

    .services__btn{
        font-size: 16px;
    }

    
}

@media (max-width: 895px){
    .header__top{
        padding-top: 30px;
    }
    .menu__list{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #010203;
        padding-top: 90px;
        padding-bottom: 30px;
        width: 100%;
        text-align: center;
        transform: translateY(-150%);
        transition: all .5s;
    }
    .menu__list-item{
        margin-right: 0;
    }
    .menu__list.active{
        transform: translateY(0);
    }
    .menu-btn{
        display: block;
    }
    .menu__list-item{
        padding: 15px 0;
    }
    .menu__list-link{
        display: block;
    }
    .phone{
        position: relative;
        z-index: 20;
    }
    .login{
        position: relative;
        z-index: 20;
    }
    .header__content{
        margin: 0 auto;
    }
    .header__description {
        justify-content: center;
    }
    .header{
        background-position: center right;
    }

    .how-to svg{
        display: none;
    }
    .how-to__list{
        display: block;
        list-style: none;
    }
    .how-to__list-item{
        padding-top: 25px;
        padding-bottom: 15px;
        position: relative;
    }
    .how-to__list-item::before{
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 49%;

    }



    .services{
        padding-bottom: 50px;
    }
    .services__inner{
        flex-direction: column-reverse;
        align-items: center;
    }
    .services-box__buttons{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .services-box__list{
        margin-right: 0;
        text-align: center;
    }
    .services__list-item{
        margin-bottom: 25px;
    }
    .services__list-item::before{
        display: none;
    }
    .slider__box-img{
        width: 100%;
        
    }
    .slider__inner{
        padding: 0;
    }

    .contacts__guarantees{
        width: 100%;
    }
    .contacts__box{
        width: 100%;
    }
    .contacts__form{
        margin-top: 25px;
    }
}





@media (max-width: 640px){
    .header__title span{
        font-size: 60px;
    }
    .header__title{
        font-size: 34px;
        line-height: 30px;
        
    }
    .header__content{
        text-align: center;
    }
    .header__text{
        justify-content: center;
        font-size: 18px;
    }
    .header__text p{
        padding: 0 10px;
    }
    .header__btn{
        width: 90%;
        font-size: 18px;
        line-height: 24px;
    }
    .header__description{
        display: block;
        margin: 0 auto;

    }
    .header__description-text{
        max-width: 100%;
        text-align: center;
    }
    .header__description-text + .header__description-text{
        margin-left: 0;
        margin-top: 15px;
        
    }
    .about{
        padding-top: 50px;
    }
    .about__title{
        margin-bottom: 50px;
        font-size: 38px;
        line-height: 38px;
    }
    .about__item{
        padding-bottom: 50px;
    }
    .about__table{
        font-size: 14px;
        width: 100%;
    }
    .about__table-tr:first-child{
        display: none;
    }
    .about__table-td{
        text-align: right;
        display: block;
        
    }
    .about__table-td:not(:last-child){
        border-bottom: 1px solid #fff;
    }
    .about__table-td span{
        display: inline-block;
    }
    .about__table-td::before{
        content:attr(aria-label);
        float: left;
    }
    .about__table-tr+.about__table-tr {
        font-size: 20px;
        line-height: 22px;
        font-weight: 400;
      
    }
    .about__item-img{
        width: 100%;
    }
    .about__btn{
        font-size: 16px;
    }

    .how-to{
        padding-top: 50px;
    }
    .how-to__title{
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 38px;
    }
    .order__title{
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 38px;
    }

    .offer__title{
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 38px;
    }
    .footer__inner{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer{
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .footer__menu{
        margin: 0;
        margin-bottom: 25px;
    }
    .footer__text{
        margin: 0;
        margin-bottom: 25px;
    }






    .services-box__buttons{
        width: 100%;
    }
    .services-box__list{
        width: 100%;
    }
    .services__title{
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 38px;
    }
    .slider__description{
        font-size: 20px;
        line-height: 22px;
    }

    .contacts__title{
        font-size: 36px;
        line-height: 38px;
    }
    .contacts__description{
        font-size: 20px;
    }
}
@media (max-width: 500px){
    .services__title{
        font-size: 22px;
        line-height: 22px;
    }
    .contacts__title{
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 25px;
    }
    .contacts__description{
        font-size: 16px;
    }
    
}
@media (max-width: 468px){
    .order__title{
        font-size: 22px;
        line-height: 22px;
    }
    .offer__title{
        font-size: 22px;
        line-height: 22px;
    }
    .services__title{
        font-size: 22px;
        line-height: 22px;
    }
    
    .offer__item-newprice{
        font-size: 34px;
    }
    .offer__item-text{
        font-size: 18px;
    }
    .offer__item-text{
        margin-bottom: 50px;
    }
    

    
}

@media (max-width: 360px){
    .header__top{
        flex-wrap: wrap;
    }
    .phone{
        margin-right: auto;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
    .menu{
        order: -1;
    }
    .login{
        order: -1;
    }
    .menu__list{
        padding-top: 110px;
    }
    .header__title{
        font-size: 28px;
      
    }
    .header__title span{
        font-size: 42px;
    }
    .header__text{
        font-size: 16px;
        line-height: 28px;
    }
    .header__btn{
        font-size: 16px;
        width: 100%;
    }
    .about__btn{
        font-size: 14px;
    }

    .how-to__title{
        font-size: 28px;
        line-height: 28px;
    }
    .how-to__list-item{
        font-size: 14px;
    }
    .offer__btn{
        font-size: 14px;
    }
    .services__btn{
        font-size: 12px;
    }
    .slider__description{
        font-size: 16px;
        line-height: 22px;
    }
    .offer__item-newprice{
        font-size: 26px;
    }
    .offer__item-box{
        padding-left: 35px;
        padding-right: 35px;
    }
    .special__offer{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .contacts__form-btn{
        font-size: 14px;
    }
}